# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE / Editor configs
.idea/
.vscode/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large data files
*.zip
*.tar
*.gz
*.h5
*.pkl
